@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*
.about div{
    @apply bg-white;
}
.about button:focus{
    @apply ring-0;
}
.about h2{
    @apply text-gsk-orange text-lg;
}
.about p{
    @apply text-black;
}
*/

.about ul{
    @apply list-disc list-inside;
}